

@media(min-width:1020px) {

    .lets-go-wrapper {
        padding: 200px 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .lets-go-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .lets-go-header {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-right: 30px;
                text-align: center;
                width: 30vw;

                .lets-go-header-title {
                    text-align: center;
                    color: #fff;

                    h1 {
                        margin-bottom: 30px;
                    }

                    p {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 40px;
                    }
                }

                
            }
        }
    
        .btn-list {
            width: 100%;
            max-width: 660px;
            .btn-items {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                list-style: none;
                height: 440px;
                
                li {
                    margin-bottom: 10px;
                }
                li:nth-child(-n+4) {
                    margin-right: 20px;
                }
                
            }
        }
        
    }
}

$change: 800px;

@media(max-width:1020px) and (min-width: $change) {
    .lets-go-wrapper {
        padding: 200px 20px;
        display: flex;
        justify-content: center;
        text-align: center;

        .lets-go-container {

            .lets-go-header {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;

                .lets-go-header-title {
                    color: #fff;
                    margin-right: 30px;

                    h1 {
                        margin-bottom: 30px;
                    }

                    p {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }

            .btn-items {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                list-style: none;
    
    
                .item {
                    margin: 0 5px 10px;
                }
                
                li:first-child, li:nth-child(2), li:nth-child(6), li:nth-child(7) {
                    width: 50%;
                }
                li:first-child, li:nth-child(6) {
                    display: flex;
                    justify-content: flex-end;
                }
                li:nth-child(2), li:nth-child(7) {
                    display: flex;
                    justify-content: flex-start;
                }
                li:nth-child(3), li:nth-child(4), li:nth-child(5) {
                    width: 33%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

@media(max-width: $change) {
    .lets-go-wrapper {
        padding: 200px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .lets-go-container {
            
            .lets-go-header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin-bottom: 50px;

                .lets-go-header-title {
                    color: #fff;

                    h1 {
                        margin-bottom: 30px;
                    }

                    p {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }
                }
            }

            .btn-list {
                display: flex;
                justify-content: center;

                .btn-items {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    list-style: none;
                    text-align: center;
    
                    .item {
                        margin-bottom: 10px;
                    }
                    
                }
            }
        }
    }
}