.start-wrapper {

    .start-container {
        padding: 200px 0;
        align-items: center;

        .start-header {
            text-align: center;
            color: #fff;
            margin-bottom: 30px;

            h1 {
                font-size: 40px;
                margin-bottom: 30px;
            }
            p {
                font-size: 28px;
                font-weight: bold; 
            }
            
        }

        .download {
            margin-bottom: 30px;
            text-align: center;

            a {
                margin: 0 10px;
            }
            .google, .app-store {
                width: 220px;
            }
            
        }

        .how-to-download {
            text-align: center;
        }

    }
}

@media(max-width:720px) {
    .start-wrapper {
        .start-container {

            .download {
        
                .google, .app-store {
                    width: 40%;
                }
            }
        }
    }
}